{% extends 'administrator/base.html' %}
<!DOCTYPE html>
<html lang="en">

{% block main %}
     {% include 'administrator/header.html' %}
    <head>
           <style>
                .product-item{
                 display: flex;
                overflow: auto;
                scroll-snap-type: x mandatory;
                    width: 300px;
                    height: 300px;
                }
                .product-item > img{
                    scroll-snap-align: center;
                    flex: none;
                    width: 300px;
                    height: 300px;
                }
                img{
                    margin-top: 10px;
                    width: 300px;
                    height: 300px;
                    object-fit: cover;
                }
            </style>
    </head>
    <body>


        
        <!-- Nav Bar Start -->

        <!-- Nav Bar End -->      
        
        <!-- Bottom Bar Start -->

        <!-- Bottom Bar End --> 
        
        <!-- Breadcrumb Start -->
        <div class="breadcrumb-wrap">
            <div class="container-fluid">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Products</a></li>
                    <li class="breadcrumb-item active">My Account</li>
                </ul>
            </div>
        </div>
        <!-- Breadcrumb End -->
        
        <!-- My Account Start -->
        <div class="my-account">
            <div class="container-fluid">
                <div class="row">
                        {% if profile.user_id == request.user.user_id %}
                            <div class="col-md-3">
                                <div class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical">
                                    <a class="nav-link active" id="dashboard-nav" data-toggle="pill" href="#dashboard-tab" role="tab"><i class="fa fa-user"></i>Dashboard</a>
                                    <a class="nav-link" id="orders-nav"   href="{% url 'accounts:create' %}" ><i class="fas fa-folder-plus"></i>create_post</a>
                                     <a class="nav-link" id="orders-nav"   href="{% url 'accounts:userposts' user.user_id  %}" ><i class="fas fa-portrait"></i>user_post</a>
                                    <a class="nav-link" id="payment-nav"  href="{% url 'accounts:change' %}" ><i class="fas fa-lock"></i>change-password</a>
                                    <a class="nav-link" id="address-nav" data-toggle="pill" href="#address-tab" role="tab"><i class="fa fa-map-marker-alt"></i>address</a>
                                    <a class="nav-link" id="payment-nav"  href="{% url 'accounts:settings' %}" ><i class="fas fa-lock"></i>settings</a>
                                    <a class="nav-link" id="account-nav"  href="{% url 'accounts:profile_save' %}" ><i class="fas fa-user-plus"></i>Account Details</a>
                                    <a class="nav-link" href="{% url 'accounts:logout' %}"><i class="fa fa-sign-out-alt"></i>Logout</a>

                                </div>
                            </div>
                        {% endif %}
                    <div class="col-md-9">
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="dashboard-tab" role="tabpanel" aria-labelledby="dashboard-nav">

                                <h4>{{ profile.first_name }}</h4>
                                <p>{{ profile.national_code }}</p>
                                <p>{{ profile.address }}</p>
                                <a class="btn" href="{% url 'accounts:follow' profile.user_id %}">follow</a>
                                <small>{{ profile.total_follow }}</small>


                            </div>
                             <div class="" id="dashboard-tab" role="tabpanel" aria-labelledby="dashboard-nav">
                                 <a class="btn" href="{% url 'accounts:follower_list' profile.user_id %}">followers</a>
                             </div>
                               <div class="col-lg-8">
                    <div class="row">
                         {% for posts in post  %}
                             <div class="col-md-4">
                                 <div class="product-item">
                                     <div class="product-image">
                                         <a href="product-detail.html">
                                            {% for photos in photo %}
                                                    {% if photos.post_id_id == posts.id %}
                                                       <img src="{{ photos.photo.url }}" alt="Product Image">
                                                    {% endif %}
                                            {% endfor %}
                                         </a>
                                         <div class="product-action">
                                             {% if posts.user.user_id == request.user.user_id %}
                                                <a href="{% url 'accounts:edit' posts.pk %}"><i class="fas fa-edit"></i></a>
                                                <a href='{% url 'accounts:deleted' posts.pk %}'><i class="fas fa-trash-alt"></i></a>
                                             {% endif %}
                                             <a href='{% url 'accounts:postdate' posts.id  %}'><i class="fa fa-search"></i></a>
                                         </div>
                                     </div>
                                     <div class="product-price">
                                         <h3><span>$</span>99</h3>
                                         <a class="btn" href=""><i class="fa fa-shopping-cart"></i>Buy Now</a>
                                     </div>
                                 </div>
                             </div>
                         {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <!-- My Account End -->
        
        <!-- Footer Start -->

        <!-- Footer End -->
        
        <!-- Footer Bottom Start -->

        <!-- Footer Bottom End -->       
        
        <!-- Back to Top -->

        
        <!-- JavaScript Libraries -->
{#         <script>#}
{#        let follow =document.getElementById("follow")#}
{#            follow.addEventListener("click",function (e){#}
{#            let user_id = follow.getAttribute("data_id");#}
{#            let body = {#}
{#                user_id : user_id,#}
{#                csrfmiddlewaretoken: '{{ csrf_token }}'#}
{#            }#}
{#            e.preventDefault();#}
{#            $.post("{% url 'accounts:follow' %}",body ,function (response){#}
{#                if(response=="followed"){#}
{#                    document.getElementById("follow").innerHTML = "followed"#}
{#                }else {#}
{#                    document.getElementById("follow").innerHTML = "unfollow"#}
{#                }#}
{#                });#}
{#        })#}
{##}
{#        $('audio').audioPlayer({#}
{#            classPrefix : 'audioplayer',#}
{#            strPlay:'',#}
{#            strPause:'',#}
{#            strVolume:''#}
{#        })#}
{##}
{##}
{##}
{#    </script>#}
        
        <!-- Template Javascript -->

    </body>

{% endblock main %}
</html>
