{% extends 'administrator/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
{% block main %}
     {% include 'administrator/header.html' %}
<body>

     <div class="my-account">
            <div class="container-fluid">
                <div class="row">
                     <div class="col-md-3">
                        <div class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical">
                            <a class="nav-link active" id="dashboard-nav"  href="{% url 'accounts:profile' %}" ><i class="fa fa-tachometer-alt"></i>Dashboard</a>
                            <a class="nav-link" id="orders-nav" data-toggle="pill" href="#orders-tab" role="tab"><i class="fa fa-shopping-bag"></i>Orders</a>
                            <a class="nav-link" id="payment-nav"  href="{% url 'accounts:change' %}" ><i class="fa fa-credit-card"></i>change-password</a>
                            <a class="nav-link" id="address-nav" data-toggle="pill" href="#address-tab" role="tab"><i class="fa fa-map-marker-alt"></i>address</a>
                            <a class="nav-link" id="account-nav" data-toggle="pill" href="#account-tab" role="tab"><i class="fa fa-user"></i>Account Details</a>
                            <a class="nav-link" href="{% url 'accounts:logout' %}"><i class="fa fa-sign-out-alt"></i>Logout</a>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="tab-content">
                              <form method="POST" action="">
                                  {% csrf_token %}
                                 <div class="tab-pane fade" id="account-tab" role="tabpanel" aria-labelledby="account-nav">
                                    <h4>Account Details</h4>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <small>email</small>
                                            <h6 >{{ user_form.email }}</h6>
                                        </div>
                                        <div class="col-md-6">
                                            <small>username</small>
                                            <h6>{{ user_form.username }}</h6>
                                        </div>
                                        <div class="col-md-6">
                                            <small>firsname</small>
                                            <h6>{{ user_profile.first_name }}</h6>
                                        </div>
                                        <div class="col-md-6">
                                            <small>last_name</small>
                                            <h6>{{ user_profile.last_name }}</h6>
                                        </div>
                                          <div class="col-md-6">
                                             <small>description</small>
                                             <h6>{{ user_profile.desc}}</h6>
                                        </div>
                                          <div class="col-md-6">
                                            <small>address</small>
                                            <h6>{{ user_profile.address}}</h6>
                                        </div>
                                         <div class="col-md-6">
                                            <small>  national_code</small>
                                            <h6> {{ user_profile.national_code}}</h6>
                                        </div>
                                        <div class="col-md-6">
                                            <small>phone</small>
                                            <h6>{{ user_profile.phone}}</h6>

                                        </div>

                                        <div class="col-md-6">
                                            <small> postal_address</small>
                                            <h6>{{ user_profile.postal_address}}</h6>
                                        </div>


                                        <div class="col-md-12">
                                            <input class="btn btn-dark" type="submit">
                                            <br><br>
                                        </div>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>

                </div>
            </div>
     </div>
</body>
     {% include 'administrator/footer.html' %}
{% endblock main %}
</html>